.box {
  animation-name: slide-in;
  animation-duration: 1s;
  animation-fill-mode: both;
}

/*cadrele cheie pentru animatii */
@keyframes slide-in {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

/* pentru ecrane mici */
@media screen and (max-width: 768px) {
  .box {
    animation: none;
  }
}

body{	
  
    --spatiere-pagina:10px;
}
#grid-pagina{
    display:block;
}